.custom-button {
  background-color: #a50205;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover {
  background-color: #a50205;
  color: white;
  transform: scale(1.05);
}

.custom-button i {
  margin-right: 8px;
}
