<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="container text-center mt-5">
  <h1>Kies CRUD Optie</h1>
  <div class="row mt-4">
    <div class="col-md-6 mb-3">
      <a class="btn btn-lg custom-button" (click)="goToProductPanel()" role="button">
        <i class="fas fa-box-open"></i> Product Panel
      </a>
    </div>
    <div class="col-md-6">
      <a class="btn btn-lg custom-button" (click)="goToPromoPanel()" role="button">
        <i class="fas fa-tags"></i> Promo Panel
      </a>
    </div>
  </div>
</div>
