<app-navbar></app-navbar>
<br>
<body>
<div class="form-container">
  <form class="form">
    <h1>Log in om verder te gaan.</h1>
    <div class="form-group-vertical">
      <input class="input" type="text" placeholder="E-mailadres">
    </div>
    <div class="form-group-vertical">
      <input class="input" type="password" placeholder="Wachtwoord">
    </div>
    <div class="form-group-vertical">
      <button class="button-login">Inloggen</button>
    </div>
    <label class="registration-label">Geen account?</label>
      <div class="form-group-vertical">
        <button class="button-register" [routerLink]="['/register']">Registreren</button>
      </div>
  </form>
</div>
<app-footer></app-footer>
</body>



