body {
  background-color: white;
}

.form {
  width: 70%;
}

.form-container {
  display: flex;
  height: 80vh;
  width: 50%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: rgba(white, 0.9);
}
.footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background-color: #1d2951;
  color: white;
}

.form-group-vertical {
  display: grid;
  grid-row-gap: 5px;
}

.form-group-horizontal {
  grid-auto-columns: 1fr;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
}

.form {
  margin: auto;
  display: grid;
  grid-row-gap: 20px;
}

.registration-label {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.button-login {
  appearance: none;
  position: relative;
  outline: none;
  box-shadow: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 0.85em;
  background-color: #e4002b;
  background-size: 100% 100%;
  transition: background 300ms ease-out;
  font-size: 18px;
}

.button-register{
  border: 2px solid #000000;
  transition: border 300ms ease-out;
  color: #2d2926;
  background: #ffffff;
  padding-top: calc(0.85em - 0.111em);
  padding-bottom: calc(0.85em - 0.111em);
  text-transform: none;
}

input{
  background: #fff;
  color: #666;
  font-size: 1em;
  padding: 0.85em;
  position: relative;
  z-index: 1;
  width: 100%;
  resize: none;
  font-weight: bold;
  height: auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;

}
